# See https://help.github.com/articles/ignoring-files for more about ignoring files.

# Ignore IDE files
/.idea
/server/.idea
/*.iml
/**/*.iml

/target/*
/**/target/*
/*/target

# npm packages
/client/node_modules/*
/client/bower_components/*