.add-or-update-schedule-container {
	width: 400px;	
}

.schedule-item-add-btn {
	
}

.bold {
	font-weight: bold;
}

.editable-input {
	border: transparent;
}

.editable-input:focus {
	border: 2px;
}

.activity-item {
	margin-top: 10px;
}

.row {
	margin-top: 5px;
} 

.schedules-list-container {
	width: 200px;
}